body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* #heading-items {
    position: relative; 
}
#heading-item a {
  position: relative;
}
#heading-item a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #145714;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#heading-item a:hover:after {
    width: 100%; 
    left: 0; 
} */

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* CONTENT 4 */
.tabs .tab-header > div.active {
  color:#00acee;
  }
.tabs .tab-header > div {
    width: calc(100%/3);
    text-align:center;
    color: #888;
    font-weight: 600;
    cursor: pointer;
    font-size:14px;
    text-transform: uppercase;
    outline: none;
  }
.tabs .tab-body > div.active {
  top: 20px;
  opacity: 1;
  transform:scale(1);
  margin-top:0px;
  }
  .tabs .tab-body > div {
    position:absolute;
    top:-200%;
    opacity: 0;
    margin-top: 50px;
    transform: scale(0.9);
    /* transition: opacity 500ms ease-in-out 0ms; */
    transition: transform 500ms ease-in-out 0ms;
    }